.layout {
    text-align: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 8px 24px 8px 0;
    float: left;
}

[data-theme="dark"] .site-layout-content {
    background: #141414;
}

[data-theme="dark"] .logo {
    background: rgba(255, 255, 255, 0.3);
}