.site-layout-content {
    background: #fff;
    padding: 12px;
    min-height: 280px;
}

.logo {
    width: 120px;
    height: 31px;
    background: #001529;
    margin: 16px 24px 16px 0;
    float: left;
}

.footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
}

[data-theme="dark"] .site-layout-content {
    background: #141414;
}

[data-theme="dark"] .logo {
    background: rgba(255, 255, 255, 0.3);
}